{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span4">
            <h1>Profile details</h1>
            <div>

                <li>Login: {{ user.username }}</li>
                <li>First name: {{ user.first_name }}</li>
                <li>Last name: {{ user.last_name }}</li>
                <li>Email: {{ user.last_name }}</li>
                <li>Address: {{ user.address_name }}</li>

                <div class="span10">
                    <a href="/api-auth/logout/" class="btn btn-info" role="button">Sign Out</a>
                </div>
            </div>

        </div>

    </div>
{% endblock content %}